// color
$gray: #ebebeb;
$orange: #f49530;
$progress: #64ae3a;
$font-color: #a8a7b3;
$body-background: #ffff;
// font
$default-font: "Rubik-Regular", sans-serif;
//mobile
$mobile-width: 320px;
//tablet
$tablet-width: 768px;
//desktop
$desktop-width: 1200px;
$mobile-width-only: 299px;
$retina-dpi: 144dpi;
$retina-dpx: 1.5dppx;
